<div class="card" style="margin-bottom: 30px;">
  <div class="card-header"  style=" border-bottom: 0 solid; font-weight: bold; font-size: 20px">Website:
    {{ websiteName }}
  </div>
  <div class="card-body" ><b>Total score:</b><p>{{websiteReviews}}</p>
  </div>
</div>

<div  class="card" style="margin-bottom: 30px">
  <div class="card-header"><p>Write review</p>
  </div>
  <div class="card-body">
  <textarea ></textarea>
    <br>
    <div class="float-right" style="margin-top: 5px">
      <button  class="btn btn-default btn-sm">Submit</button>
    </div>
  </div>
</div>
